/* line 27, ../sass/lec_2.scss */
header {
  background: #1ABC9C;
}
/* line 29, ../sass/lec_2.scss */
header .header-content .header-content-inner h1 {
  margin-bottom: 10px;
}
/* line 32, ../sass/lec_2.scss */
header .header-content .header-content-inner p {
  margin-bottom: 20px;
}

/* line 37, ../sass/lec_2.scss */
.game-sec {
  padding: 0px 30px 20px 30px;
}
/* line 41, ../sass/lec_2.scss */
.game-sec .main-element {
  cursor: pointer;
}
/* line 45, ../sass/lec_2.scss */
.game-sec .sub-group .sub-element {
  cursor: pointer;
}

/* line 51, ../sass/lec_2.scss */
.btn-submit {
  margin-top: 30px;
}
