	/*
		Default puzzle styling
	*/
	$break-small: 320px;
	$break-small-l: 960px;
	$break-midium: 1024px;
	$break-large: 1200px;

	header .header-content .header-content-inner p {
		margin-bottom: 0;
	}
	
	table { 
		border-collapse: collapse; 
		border-spacing: 0;
		width: 100%;
	}

	td {
		border: 1px solid #BDC3C7;
		padding: 0;
		margin: 0;
		background-color: #16A085;
		position: relative;
	}

	td .content {
	    position:absolute;
	    top:0;
	    bottom:0;
	    left:0;
	    right:0;
	    background:gold;
	}

	// td:after{
	//     content:'';
	//     display:block;
	//     margin-top:100%;
	// }
		
	td input:focus {
		background-color: #fff;
	}
		
	td span {
		color: #444;
		font-size: 0.8em;
		position: absolute;
		top: -1px;
		left: 1px;
	}
		
	input.done {
		font-weight: bold;
		color: green;
	}
		
	.active {
		background: #e5fcde;
	}
	.clues-active {
		background: #16A085;
	}

	.clue-done {
		color: #999;
		text-decoration: line-through;
	}
	
	#puzzle-wrapper {
		margin-top: 3%;
	}

	#instruction {
	    margin-top: 5%;
	}

	.btn {
	    margin-top: 5%;
	}

	#time {
	    color: red;
	    background: rgba(255, 255, 255, 0.3);
	    padding: 0px 10px 0px 10px;
	    border-radius: 10px;
	}

	.not-active {
	   pointer-events: none;
	   cursor: default;
	}